<a href="https://colab.research.google.com/github/suneelkanthala/My-Work/blob/master/ANN_Regression_Tuner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
from tensorflow import keras
from tensorflow.keras import layers
from kerastuner.tuners import RandomSearch

In [8]:
# !pip install keras-tuner

In [9]:
data = pd.read_csv('/content/drive/MyDrive/My Work/My_Learning/Real_Combine.csv')

In [10]:
data.head()

      T    TM   Tm     SLP     H   VV    V    VM      PM 2.5
0   7.4   9.8  4.8  1017.6  93.0  0.5  4.3   9.4  219.720833
1   7.8  12.7  4.4  1018.5  87.0  0.6  4.4  11.1  182.187500
2   6.7  13.4  2.4  1019.4  82.0  0.6  4.8  11.1  154.037500
3   8.6  15.5  3.3  1018.7  72.0  0.8  8.1  20.6  223.208333
4  12.4  20.9  4.4  1017.3  61.0  1.3  8.7  22.2  200.645833

In [11]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [19]:
def build_model(hp):
    model = keras.Sequential()
    for i in range(hp.Int('num_layers', 2, 20)):
        model.add(layers.Dense(units=hp.Int('units_' + str(i),
                                            min_value=32,
                                            max_value=512,
                                            step=32),
                               activation='relu'))
    model.add(layers.Dense(1, activation='linear'))
    model.compile(
        optimizer=keras.optimizers.Adam(
            hp.Choice('learning_rate', [1e-2, 1e-3, 1e-4])),
        loss='mean_absolute_error',
        metrics=['mean_absolute_error'])
    return model

In [20]:
tuner = RandomSearch(
    build_model,
    objective='val_mean_absolute_error',
    max_trials=5,
    executions_per_trial=3,
    # directory='project',
    # project_name='Air Quality Index'
    )

In [21]:
tuner.search_space_summary()

Search space summary
Default search space size: 4
num_layers (Int)
{'default': None, 'conditions': [], 'min_value': 2, 'max_value': 20, 'step': 1, 'sampling': None}
units_0 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
units_1 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
learning_rate (Choice)
{'default': 0.01, 'conditions': [], 'values': [0.01, 0.001, 0.0001], 'ordered': True}

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [23]:
tuner.search(X_train, y_train,
             epochs=5,
             validation_data=(X_test, y_test))

Trial 5 Complete [00h 00m 07s]
val_mean_absolute_error: nan

Best val_mean_absolute_error So Far: nan
Total elapsed time: 00h 00m 27s
INFO:tensorflow:Oracle triggered exit

In [24]:
tuner.results_summary()

Results summary
Results in ./untitled_project
Showing 10 best trials
Objective(name='val_mean_absolute_error', direction='min')
Trial summary
Hyperparameters:
num_layers: 6
units_0: 160
units_1: 128
learning_rate: 0.01
units_2: 32
units_3: 32
units_4: 32
units_5: 32
Score: nan
Trial summary
Hyperparameters:
num_layers: 3
units_0: 448
units_1: 64
learning_rate: 0.01
units_2: 192
units_3: 64
units_4: 384
units_5: 96
Score: nan
Trial summary
Hyperparameters:
num_layers: 7
units_0: 512
units_1: 128
learning_rate: 0.001
units_2: 160
units_3: 128
units_4: 384
units_5: 64
units_6: 32
Score: nan
Trial summary
Hyperparameters:
num_layers: 17
units_0: 448
units_1: 288
learning_rate: 0.001
units_2: 96
units_3: 352
units_4: 128
units_5: 448
units_6: 224
units_7: 32
units_8: 32
units_9: 32
units_10: 32
units_11: 32
units_12: 32
units_13: 32
units_14: 32
units_15: 32
units_16: 32
Score: nan
Trial summary
Hyperparameters:
num_layers: 10
units_0: 480
units_1: 32
learning_rate: 0.0001
units_2: 384
units_3: 192
units_4: 512
units_5: 256
units_6: 352
units_7: 320
units_8: 224
units_9: 288
units_10: 512
units_11: 64
units_12: 288
units_13: 256
units_14: 128
units_15: 320
units_16: 384
Score: nan